<div class="span-16 append-6 last">
<span id="notice"><%= notice %></span>
</div>


<%=h item("Case number:", "%06d" % @ticket.id) %>

<%=h item("Opened:", @ticket.opened_at.to_s) %>

<%=h item("Created by:", @ticket.user.first_name + " " + @ticket.user.last_name) %>

<%=h item("Site:", @ticket.room.location.name) %>

<%=h item("Room:", @ticket.room.name) %>

<%= if @ticket.status == "Closed" then 
      item("Status:", @ticket.status + " (" + @ticket.closed_at.to_s + ")") 
    else
      item("Status:", @ticket.status)
    end
%>

<%=h item("Contact:", @ticket.quick_contact_name + '&nbsp') %>

<%=h item("Contact Number:", @ticket.quick_contact_telephone + '&nbsp') %>

<%=h item("Client ticket:", @ticket.client_ticket_number + '&nbsp') %>

<br />

<div class="span-16 last">
  <b>Subject:</b><br />
  <div class="span-16 smallbox white">
  <%= @ticket.subject %>
</div>
</div>

<div class="span-16 append-6 last">
  <b>Description:</b><br />
  <div class="span-16 smallbox white">
  <%= @ticket.description %>
</div>
</div>

<div class="span-4 last">
<b>Notes:</b><br />
</div>

   <div class="span-24 append-6 last">
<% 
  if @ticket.notes then
   @ticket.notes.each do |note| %>
    <div class="field <%= cycle("even", "odd") %> span-16 smallbox white">
    <%= note.text %>
    </div>
    <div class="span-3 smallbox last">
    <%= note.user.full_name %> 
    </div>

    <div class="span-4 smallbox last">
    <% if note.backdate then %>
    <%= note.backdate.to_s %> 
    <% else %>
    <%= note.created_at.to_s %>
    <% end %>
    </div>

 <% end %>
<%  end %>

</div>

<div id="notes_form" class="span-16 append-6 last">
</div>

<div class="span-4">
<%= link_to 'Add note', new_note_path(:ticket_id => @ticket.id) %> |
<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
</div>
