<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @ticket.subject %>
</p>

<p>
  <b>Description:</b>
  <%= @ticket.description %>
</p>

<p>
  <b>Status:</b>
  <%= @ticket.status %>
</p>

<p>
  <b>Location:</b>
  <%= @ticket.location.name %>
</p>

<p>
  <b>Room:</b>
  <%= @ticket.room.name %>
</p>

<p>
  <b>User:</b>
  <%= @ticket.user.username %>
</p>

<p>
  <b>Opened at:</b>
  <%= @ticket.opened_at %>
</p>

<p>
  <b>Closed at:</b>
  <%= @ticket.closed_at %>
</p>

<p>
  <b>Quick contact name:</b>
  <%= @ticket.quick_contact_name %>
</p>

<p>
  <b>Quick contact telephone:</b>
  <%= @ticket.quick_contact_telephone %>
</p>

<p>
  <b>Ticket type:</b>
  <%= @ticket.ticket_type %>
</p>

<p>
  <b>Client ticket number:</b>
  <%= @ticket.client_ticket_number %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
